<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Bem vindo ao Blog do node</h1>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous
        versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.
    </p>
</div>

<h2>Postagens Recentes: </h2>

{{#each p}}

<div class="card mt-2">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{titulo}}/{{_id}}"><button class="btn btn-success">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{titulo}}</small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
<p>Nenhuma postagem</p>
{{/each}}